.App {
  font-family: sans-serif;
  text-align: center;
}
.FieldClass {
  display: inline-block;
  width: 30%;
  height: 36px;
  font-size: 18px;
  text-align: left;
  padding: 18px 10px 0px 10px;
}
#incomeID {
  justify-self: right;
  background-color: cyan;
}
#expenseID {
  justify-self: right;
  background-color: red;
}

.topSection {
  padding: 30px;
  background-image: url("serene.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-self: center;
}
.descriptionClass {
  padding: 10px 0px 0px 0px;
  text-align: center;
  align-self: center;
}
#selectorID {
  padding: 0px 10px 0px 0px;
  font-size: 24px;
}
#descriptionID {
  font-size: 24px;
  width: 40%;
  margin: 0px 10px 0px 10px;
}
#valueID {
  font-size: 24px;
  width: 20%;
  margin: 0px 10px 0px 0px;
}
#enterID {
  font-size: 24px;
}

table {
  width: 40%;
  margin: 10px 10px 0px 10px;
  display: inline-table;
  text-align: center;
}
td,
tr {
  text-align: center;
  font-size: 16px;
}
td {
  padding: 10px 10px 10px 10px;
  background: rgb(127, 127, 255);
}
form {
  border: 3px solid #f1f1f1;
}
input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
